<section>
    <a href="/post/{{id}}">
{{!-- we have to modify the container to in css file --}}
        <div class="container">
            <div class="header">
                <h2>{{title}}</h2>
                <span>price{{}}</span>
                <span>person posted by{{}}</span>
                <span>condition{{}}</span>
                <span>description{{}}</span>
            </div>
            <div class="body">
                <p>{{content}}</p>
            </div>
        </div>
    </a>
</section>