
<div class="small-container">
            <div class="row row-2">
                <h2>All Products</h2>
                {{!-- <select>
                    <option>Default sorting</option>
                    <option>Short by price</option>
                    <option>Short by popularity</option>
                    <option>Short by rating</option>
                    <option>Short by sale</option>
                </select> --}}
            </div>
<section>

    {{#each posts as | post |}}
    {{> card-feed}}
    {{/each}}

</section>
</div>